/* Write your code here: */

h1, h2 {
    color: blueviolet;
}

.box > p {
    color: firebrick;
}

.box li {
    color: blue;
}

li.done {
    color:seagreen;
}

/* could also do ul > p.done for this particular case */
ul p.done {
    font-size: 0.5rem;
}